<?xml version="1.0"?>
<config>
    <modules>
        <CueConnect_Cue>
            <version>3.0.9</version>
        </CueConnect_Cue>
    </modules>
    <global>
        <models>
            <cueconnect>
                <class>CueConnect_Cue_Model</class>
                <resourceModel>cueconnect_mysql4</resourceModel>
            </cueconnect>
            <cueconnect_mysql4>
                <class>CueConnect_Cue_Model_Mysql4</class>
                <entities>
                    <demand>
                        <table>cueconnect_demand</table>
                    </demand>
                    <userSync>
                        <table>cueconnect_user_sync</table>
                    </userSync>
                    <wishlistSync>
                        <table>cueconnect_wishlist_sync</table>
                    </wishlistSync>
                </entities>
            </cueconnect_mysql4>
        </models>
        <blocks>
            <cueconnect>
                <class>CueConnect_Cue_Block</class>
            </cueconnect>
        </blocks>
        <helpers>
            <cueconnect>
                <class>CueConnect_Cue_Helper</class>
            </cueconnect>
            <wishlist>
                <rewrite>
                    <data>CueConnect_Cue_Helper_Wishlist_Data</data> <!-- tell magento to use your own helper instead of the default one -->
                </rewrite>
            </wishlist>
        </helpers>
        <resources>
            <cueconnect_setup>
                <setup>
                    <module>CueConnect_Cue</module>
                </setup>
            </cueconnect_setup>
            <cueconnect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cueconnect_write>
            <cueconnect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cueconnect_read>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <cueconnect_cue_observer_update_product>
                        <type>singleton</type>
                        <class>CueConnect_Cue_Model_Observer</class>
                        <method>updateProduct</method>
                    </cueconnect_cue_observer_update_product>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_before>
                <observers>
                    <cueconnect_cue_observer_delete_product>
                        <type>singleton</type>
                        <class>CueConnect_Cue_Model_Observer</class>
                        <method>deleteProduct</method>
                    </cueconnect_cue_observer_delete_product>
                </observers>
            </catalog_product_delete_before>
            <customer_register_success>
                <observers>
                    <cueconnect_cue_customer_register_success>
                        <type>singleton</type>
                        <class>CueConnect_Cue_Model_Observer</class>
                        <method>customerSaveProfile</method>
                    </cueconnect_cue_customer_register_success>
                </observers>
            </customer_register_success>
            <customer_save_after>
                <observers>
                    <cueconnect_cue_customer_save_after>
                        <type>singleton</type>
                        <class>CueConnect_Cue_Model_Observer</class>
                        <method>customerSaveProfile</method>
                    </cueconnect_cue_customer_save_after>
                </observers>
            </customer_save_after>
            <elist_view>
                <observers>
                    <cueconnect_cue_elist_view>
                        <type>singleton</type>
                        <class>CueConnect_Cue_Model_Observer</class>
                        <method>viewElist</method>
                    </cueconnect_cue_elist_view>
                </observers>
            </elist_view>
        </events>
        <rewrite>
            <elist_url>
                <from><![CDATA[#^/apps/mylist(\/)*$#]]></from>
                <to><![CDATA[/cueconnect/elist/index]]></to>
                <complete>1</complete>
            </elist_url>
        </rewrite>
    </global>
    <frontend>
        <layout>
            <updates>
                <cueconnect module="cueconnect">
                    <file>cueconnect.xml</file>
                </cueconnect>
            </updates>
        </layout>
        <routers>
            <cueconnect>
                <use>standard</use>
                <args>
                    <module>CueConnect_Cue</module>
                    <frontName>elist</frontName>
                </args>
            </cueconnect>
        </routers>
        <events>
            <customer_login>
                <observers>
                    <cueconnect_cue_customer_login>
                        <type>model</type>
                        <class>CueConnect_Cue_Model_Observer</class>
                        <method>customerLogin</method>
                    </cueconnect_cue_customer_login>
                </observers>
            </customer_login> 
        </events>
    </frontend>
    <admin>
        <routers>
            <cueconnect>
                <use>admin</use>
                <args>
                    <module>CueConnect_Cue</module>
                    <frontName>cueconnect</frontName>
                </args>
            </cueconnect>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>                
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <cueconnect translate="title" module="cueconnect">
                                            <title>Cue - All</title>
                                            <sort_order>100</sort_order>
                                        </cueconnect>
                                    </children>
                                </config>
                            </children>
                        </system>
                     </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <cueconnect module="cueconnect">
                    <file>cueconnect.xml</file>
                </cueconnect>
            </updates>
        </layout>
        <events>
            <admin_system_config_changed_section_cueconnect>
                <observers>
                    <cueconnect_cue_version_change>
                        <type>singleton</type>
                        <class>CueConnect_Cue_Model_Observer</class>
                        <method>adminCueConnectUpdated</method>
                    </cueconnect_cue_version_change>
                </observers>
            </admin_system_config_changed_section_cueconnect>
            <catalog_product_save_after>
                <observers>
                    <cueconnect_cue_product_update>
                        <type>singleton</type>
                        <class>CueConnect_Cue_Model_Observer</class>
                        <method>adminProductUpdated</method>
                    </cueconnect_cue_product_update>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <default>
        <cueconnect>
            <enabled>
                <enabled>1</enabled>
            </enabled>
            <mode>
                <mode>1</mode>
            </mode>
            <collection>
                <enabled>1</enabled>
            </collection>
            <ob>
                <enabled>1</enabled>
            </ob>
            <favorite>
                <enabled>1</enabled>
            </favorite>
            <alert>
                <enabled>1</enabled>
            </alert>
            <webservice>
                <url>http://rapi.cueconnect.com/</url>
            </webservice>
            <taxomomy_id>fcc3465</taxomomy_id>
            <image>
                <width>480</width>
                <height>480</height>
            </image>
            <path>
                <elist>apps/mylist</elist>
            </path>
            <webhook>
                <save_customer>
                    <url>https://business.cueconnect.com/magento/saveCustomer</url>
                    <key>026132282952ccf731a765413bf11ca32ccbc683ab92c7ad3171b2a0a71ef21d69d1334efcf79da5ecc2d496221e0e28ed025e71d210ebf16e70bfa338c4f2d3</key>
                </save_customer>
                <save_mark>
                    <url>https://business.cueconnect.com/magento/saveMark</url>
                    <key>bf83fc65e0e710e68e17c811bdb6e5d48ea2e805d8fc4af3ac9c8c428631fa044fa6509f128e6891b6d5e8df54508e045b53d95289d72f2f46d98499286772ca</key>
                </save_mark>
                <price_changed>
                    <url>https://business.cueconnect.com/magento/priceChanged</url>
                    <key>f7ba9544bdded1d3a1aead3cb43557b340bf69ce1919a94e7282bfe11f573c94ffc375bf778bc374677c8150ae3880e9fa1502bb5e4235d7628e1ed3e95a6895</key>
                </price_changed>
                <select_version>
                    <url>https://business.cueconnect.com/magento/selectVersion</url>
                    <key>a2645def81375a4f88475acc6b4b0639fd87bfaef715b828e1704f79bac6262ef0e85876dd7047765360678b3372812b5f1741b3abfe9159a3d50fe01e05d757</key>
                </select_version>
            </webhook>
        </cueconnect>
    </default>
</config>
