<?xml version="1.0" ?>
<config>
    <sections>
        <cueconnect module="cueconnect" translate="label">
            <label>Cue</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <environment translate="label">
                    <label>Environment</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <env translate="label">
                            <label>Env</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                        </env>
                    </fields>
                </environment>
                <credentials translate="label">
                    <label>Cue API Credentials</label>
                    <comment><![CDATA[<p>Get your Cue API key from your Merchant Hub account under the Code Implementation section.</p>]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <api_key translate="label">
                            <label>API Credentials</label>
                            <tooltip>Get your Cue API key from your Merchant Hub account.</tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                        </api_key>
                        <login translate="label">
                            <label>E-mail</label>
                            <tooltip>This field is required.</tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <validate>validate-email</validate>
                        </login>
                        <password translate="label">
                            <label>Password</label>
                            <tooltip>This field is required.</tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>password</frontend_type>
                            <sort_order>3</sort_order>
                        </password>
                        <product_sync translate="button_label">
                            <label></label>
                            <button_label>Product Full Resync</button_label>
                            <frontend_model>cueconnect/system_config_productresync</frontend_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_sync>
                        <customer_sync translate="button_label">
                            <label></label>
                            <button_label>Customer Full Resync</button_label>
                            <frontend_model>cueconnect/system_config_customerresync</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customer_sync>
                    </fields>
                </credentials>
                <enabled translate="label">
                    <label>Enable My-List for this store</label>
                    <comment><![CDATA[<p>When &quot;My-List&quot; is enabled, magento's native wishlist will be disabled and customers' saved items are transfered to &quot;My-List&quot;.</p>]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <tooltip>Enable My-List for this store</tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                        </enabled>
                    </fields>
                </enabled>
                
                
                <mode translate="label">
                    <label>My-List Version</label>
                    <comment><![CDATA[<p>Available in two versions: a customizable widget or enterprise fully integrated that works seamlessly with your existing Customer Account and Profile.</p><p><strong>Standalone Widget:</strong> My-List technology is deployed on a standalone widget. Shoppers will opt into this service by signing up through the My-list login popup modal.</p><p><strong>Fully Integrated:</strong> works seamlessly with your existing Customer Account and Profile. Shoppers simply need to create an account with your store to have access to My-List capabilities.</p>]]></comment>                    
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <mode translate="label">
                            <label>Version</label>
                            <frontend_type>select</frontend_type>
                            <source_model>cueconnect/options</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mode>
                    </fields>
                </mode>
                <collection translate="label">
                    <label>My List</label>
                    <comment><![CDATA[<p>The &quot;My List&quot; link can be automatically added to the top links or manually inserted in any location in your theme files. <br>If you wish to manually place the &quot;My List&quot; link, set this option to &quot;No&quot; and follow the steps in the Manual Setup Instructions section below in this page.</p>]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Automatic</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                        </enabled>
                    </fields>
                </collection>
                <ob translate="label">
                    <label>Share Button</label>
                    <comment><![CDATA[<p>The &quot;Share&quot; button can be automatically added or manually inserted into the product page.<br>If you wish to manually place the &quot;Share&quot; button, set this option to &quot;No&quot; and follow the steps in the Manual Setup Instructions section below in this page.</p>]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Automatic</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                        </enabled>
                    </fields>
                </ob>
                <favorite translate="label">
                    <label>Add to Wishlist Link</label>
                    <comment><![CDATA[<p>The &quot;Add to Wishlist&quot; link can be automatically added or manually inserted into the product page.<br>If you wish to manually place the &quot;Add to Wishlist&quot; link, set this option to &quot;No&quot; and follow the steps in the Manual Setup Instructions section below in this page.</p>]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Automatic</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                        </enabled>
                    </fields>
                </favorite>
                <alert translate="label">
                    <label>Price Alert</label>
                    <comment><![CDATA[<p>The &quot;Price Alert&quot; link can be automatically added or manually inserted into the product page.<br>If you wish to manually place the &quot;Price Alert&quot; link, set this option to &quot;No&quot; and follow the steps in the Manual Setup Instructions section below in this page.</p>]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>7</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Automatic</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                        </enabled>
                    </fields>
                </alert>
                <tracking translate="label">
                    <label>Conversion Tracking</label>
                    <comment><![CDATA[<p>The Conversion Tracking code will be automatically added on the Confirmation  page after a purchase.</p>]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>8</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Automatic</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                        </enabled>
                    </fields>
                </tracking>

                <setup translate="label">
                    <label>Manual Setup Instructions</label>
                    <comment><![CDATA[

            <strong>Step 1. 'My List' link setup</strong>


            <p>Copy the &lt;a&gt; tag and paste it in the theme's source code where you wish the 'My List' link to appear:</p>
            
            <div class="reg_main" style="padding:0 20px;margin-bottom: 20px">
                <textarea readonly="readonly" style="width: 80%; height: 50px;">

<a class="cue-stream"> My Wish List </a>

                </textarea>
            </div>

            <div style="padding:0 20px;margin-bottom: 20px; color: blue; font-size: 12px;">Tip: <br>
            We recommend that you place the link in your header or menu.<br>You can replace the &lt;a&gt; by any HTML tag that fits your design best.
            </div>
            
            <strong>Step 2. Implement the 'Share' button</strong>
            
            <p>Copy the &lt;div&gt; tag and insert it in your product's html page, where you wish the button to appear.</p>
            
            <div class="reg_main" style="padding:0 20px;margin-bottom: 20px">
                <textarea readonly="readonly" style="width: 80%; height: 60px;">

<div class="cue-onebutton" data-imisku="<?php echo $this->getSku(); ?>" data-cid="<?php echo $this->getCID(); ?>"></div>

</textarea>
            </div>


            <strong>Step 3. Implement the 'Add to Wishlist' link</strong>
            

            <p>Copy the &lt;div&gt; tag and insert it in your product's html page, where you wish the link to appear.</p>
            

            <div class="reg_main" style="padding:0 20px;margin-bottom: 20px">
                <textarea readonly="readonly" style="width: 80%; height: 60px;">


<div class="cue-cueit" data-imisku="<?php echo $this->htmlEscape($_product->getSku()) ?>"></div>

                </textarea>
            </div>

            <strong>Step 4. Implement the 'Price Alert' link</strong>
            

            <p>Copy the &lt;div&gt; tag and insert it in your product's html page, where you wish the link to appear.</p>
            

            <div class="reg_main" style="padding:0 20px;margin-bottom: 20px">
                <textarea readonly="readonly" style="width: 80%; height: 60px;">


<div class="cue-learnmore"></div>

</textarea>
            </div>
                ]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>9</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </setup>
            </groups>
        </cueconnect>
    </sections>
</config>
